{{!-- TODO: Update image and link to establishment --}}

<div class="row mb-5">
  <div class="col-md-3 mb-3">
    <a href="/establishment-page"><img class="img-fluid" src="{{establishmentPfpPath}}" alt=""></a>
  </div>
  <div class="col-md-9">
    <h3 class="mb-3"><a href="/establishment-page/{{replaceSpaces name}}" style="color: black;">{{name}}</a></h3>
    <h5 style="font-weight:300; color: var(--primary)">
      {{{stars overall_rating}}}
      {{total_reviews}} reviews
    </h5>
    <p>{{description}}</p>
  </div>
</div>
