<div>
    <h6>
        {{!-- If establishment name is passed. Will be used for search reviews and reviews on
        user profile page. Not needed for reviews on establishment page --}}
        {{#if establishment_name}}
            <a href="/establishment-page/{{replaceSpaces establishment_name}}">
                <span style="font-weight: bold; color: var(--primary)">{{establishment_name}}&nbsp;</span>
            </a>
        {{/if}}
        {{{stars rating}}}
        • Reviewed on {{formatDate date}}
    </h6>

    <h4 style="font-weight: 600;">{{title}}</h4>
    <p>{{body_desc}}</p>
</div>