<div class="row mb-5 user-review"> 
    <div class="col-md-2 mb-3 pt-3">
        <div class="container">
            <a href="/user-profile-overview/{{username}}">
                <div class="row mb-3 justify-content-center">
                    {{!-- this will come from the User Model --}}
                    <img src="{{avatarImagePath}}" alt="User Pfp" style="width: 100px; height: 75px" class="rounded-circle">
                </div>
                <div class="row justify-content-center text-center">
                    <h6 style="color: black;"> {{username}} </h6>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-md-10 position-relative">
        {{#if (isEqual user username)}}
            {{!-- Edit button --}}
            <div class="d-flex justify-content-end position-absolute top-0 p-0" style="max-width: 100%; left: 95%">
                <button class="btn btn-danger edit-review text-nowrap" data-bs-toggle="modal" data-bs-target="#edit-review-modal-{{review_id}}" style="font-size: 10px;" data="{{review_id}}">
                    <i class="bi bi-pencil-square"></i></button>
            </div>
            
            <!-- Modal for editing review -->
            <div class="modal fade" id="edit-review-modal-{{review_id}}" tabindex="-1" aria-labelledby="modalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="edit-modalLabel-{{review_id}}">Edit Review</h1>
                            <button id="closeBtn-{{review_id}}" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form style="max-width: 600px;">
                                <div class="my-3">
                                    <input id="edit-review-title-{{review_id}}" class="form-control w-100" type="text"
                                        placeholder="Title" required value="{{title}}">
                                </div>

                                <div class="border p-3 my-3 rounded">
                                    <div class="container d-flex">
                                        <span class="star-cb-group me-2">
                                            <input type="radio" id="edit-rating-5-{{review_id}}" name="edit-rating-{{review_id}}" value="5" />
                                            <label for="edit-rating-5-{{review_id}}">5</label>
                                            <input type="radio" id="edit-rating-4-{{review_id}}" name="edit-rating-{{review_id}}" value="4" />
                                            <label for="edit-rating-4-{{review_id}}">4</label>
                                            <input type="radio" id="edit-rating-3-{{review_id}}" name="edit-rating-{{review_id}}" value="3" />
                                            <label for="edit-rating-3-{{review_id}}">3</label>
                                            <input type="radio" id="edit-rating-2-{{review_id}}" name="edit-rating-{{review_id}}" value="2" />
                                            <label for="edit-rating-2-{{review_id}}">2</label>
                                            <input type="radio" id="edit-rating-1-{{review_id}}" name="edit-rating-{{review_id}}" value="1" />
                                            <label for="edit-rating-1-{{review_id}}">1</label>
                                            <input type="radio" id="edit-rating-0-{{review_id}}" name="edit-rating-{{review_id}}" value="0"
                                                class="star-cb-clear" checked />
                                            <label for="edit-rating-0-{{review_id}}">0</label>
                                        </span>
                                        <h6>Select your rating</h6>
                                    </div>


                                    <div class="form-floating">
                                        <textarea class="form-control border-0" id="edit-floatingTextarea2-{{review_id}}"
                                            style="height: 200px; text-align: justify; text-justify: inter-word" required>{{body_desc}}</textarea>
                                        <label for="edit-floatingTextarea2-{{review_id}}">Tell us about your experience!</label>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="edit-formFileMultiple" class="form-label">Attach Photos</label>
                                    <input class="form-control" type="file" id="edit-formFileMultiple-{{review_id}}" multiple
                                        accept="image/png, image/gif, image/jpeg">
                                </div>

                                <input id="edit-review-submit-{{review_id}}" class="submit-button btn btn-primary edit-review-submit" type="button"
                                    style="width: 200px;" value="Edit Review" data="{{review_id}}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Delete button --}}
            <div class="d-flex justify-content-end position-absolute start-100 top-0">
                <button id="delete-btn-{{review_id}}" class="btn btn-danger ml-auto delete-review t" data="{{review_id}}" style="font-size: 10px">
                <i class="bi bi-trash-fill"></i></button>
            </div>
        {{/if}}
        

        <h6>
            {{{stars rating}}}
            • Reviewed on {{formatDate date}}

            {{#if edited}}
                • Edited
            {{/if}}
        </h6>
        {{!-- If establishment name is passed. Will be used for search reviews and reviews on
            user profile page. Not needed for reviews on establishment page --}}
        {{#if establishment_name}} 
            <a href="/establishment-page/{{replaceSpaces establishment_name}}">
                <h4 style="font-weight: 600; color: var(--primary);"> {{establishment_name}} </h4>
            </a>
        {{/if}}
        
        <h4 style="font-weight: 600;">{{title}}</h4>


        {{{trimAndReadMore review_id body_desc}}}

        {{!-- If there are photos in a review --}}
        {{#if photos}}
            <!-- Image Carousel -->
            <div id="carousel-{{review_id}}" class="carousel slide my-3">
            <div class="carousel-indicators">
                {{#each photos}}
                <button type="button" data-bs-target="#carousel-{{review_id}}" data-bs-slide-to="{{@index}}"
                {{#if @first}}class="active" aria-current="true"{{/if}} aria-label="Slide {{@index}}"></button>
                {{/each}}
            </div>
            <div class="carousel-inner" role="listbox">
                {{#each photos}}
                <div class="carousel-item {{#if @first}}active{{/if}}">
                <img src="{{this}}" class="d-block w-100" alt="...">
                </div>
                {{/each}}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{review_id}}"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{review_id}}"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        {{/if}}

        
        <div class="review-group">
            <div class="container d-flex px-2">
                <p class="mx-2">Was this review helpful to you?</p>
                <!-- UPVOTE -->
                <span class="numUpvotes" style="font-size: 16px">{{votes.numUpvotes}}</span>

                {{!-- if user is in votes array then fill this --}}
                {{#if (inArray user votes.upvotes)}}
                    <span class="upvote active-vote" style="color: var(--accent1);" data="{{review_id}}">
                        <i style="font-size: 16px" class="bi bi-hand-thumbs-up-fill"></i>
                {{else}}
                    <span class="upvote" style="color: var(--accent1);" data="{{review_id}}">
                        <i style="font-size: 16px" class="bi bi-hand-thumbs-up"></i>
                {{/if}}

                </span>
                &nbsp;
                <!-- DOWNVOTE -->
                <span class="numDownvotes" style="font-size: 16px">{{votes.numDownvotes}}</span>
                
                {{#if (inArray user votes.downvotes)}}
                    <span class="downvote active-vote" style="color: var(--accent1);" data="{{review_id}}">
                        <i style="font-size: 16px" class="bi bi-hand-thumbs-down-fill"></i>
                {{else}}
                    <span class="downvote" style="color: var(--accent1);" data="{{review_id}}">
                        <i style="font-size: 16px" class="bi bi-hand-thumbs-down"></i>
                {{/if}}

                </span>
            </div>
        </div>

        {{!-- Owner Response --}}
        {{#if owner_response_text}}
            <p class="mx-5 user-response" style="color: black;">
                <span id="show{{review_id}}">
                <b>Response from the Owner</b>
                </span>

                <span id="hide{{review_id}}" style="display: none;">
                <b>Response from the Owner</b>

                <span style="color: #B4B4B4"> Replied on {{formatDate owner_response_date}}</span>
                <br>
                {{owner_response_text}}
                </span>
                <a onclick="hideResponseFunction(`response{{review_id}}`, `show{{review_id}}`, `hide{{review_id}}`)" id="response{{review_id}}"> • Show Response</a>
                {{#if establishment_owner}}
                    <br>
                    <button class="btn btn-danger edit-response text-nowrap" data-bs-toggle="modal" data-bs-target="#edit-response-modal-{{owner_response_id}}" style="font-size: 10px;" data="{{owner_response_id}}">
                        <i class="bi bi-pencil-square"></i> Edit Response</button>

                    <button id="delete-btn-{{owner_response_id}}" class="btn btn-danger ml-auto delete-response t" data="{{owner_response_id}}" style="font-size: 10px;">
                        <i class="bi bi-trash-fill"></i></button>
                    
                    <!-- Modal for editing response -->
                    <div class="modal fade" id="edit-response-modal-{{owner_response_id}}" tabindex="-1" aria-labelledby="modalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="edit-modalLabel-{{owner_response_id}}">Edit Response</h1>
                                    <button id="closeBtn-{{owner_response_id}}" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form style="max-width: 600px;">
                                        <div class="form-floating border p-3 my-3 rounded">
                                            <textarea class="form-control border-0" id="edit-floatingTextarea2-{{owner_response_id}}"
                                                style="height: 200px; text-align: justify; text-justify: inter-word" required>{{owner_response_text}}</textarea>
                                            <label for="edit-floatingTextarea2-{{owner_response_id}}">Respond to {{username}}</label>
                                        </div>

                                        <input id="edit-response-submit-{{owner_response_id}}" class="submit-button btn btn-primary edit-response-submit" type="button"
                                            style="width: 200px;" value="Edit Response" data="{{owner_response_id}}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </p>
        {{else}}
            {{#if establishment_owner}} 
                <div class="col" id="response-btn{{review_id}}">
                <button class="btn btn-danger fs-6 mx-5 btn-sm" data-bs-toggle="modal"
                    data-bs-target="#write-response-modal{{review_id}}">

                    <i style="font-size: 16px" class="bi bi-pencil-square me-1"></i>

                    Write a Response</button>

                <!-- Modal -->
                <div class="modal fade" id="write-response-modal{{review_id}}" tabindex="-1" aria-labelledby="modalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabel{{review_id}}">Respond to {{username}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <form style="max-width: 600px;">
                            <div class="border p-3 my-3 rounded">
                            <div class="form-floating">
                                <textarea class="form-control border-0" id="floatingTextarea2{{review_id}}" style="height: 200px"
                                required></textarea>
                                <label for="floatingTextarea2">Response from the owner</label>
                            </div>
                            </div>
                            <input id="submit-response{{review_id}}" class="submit-button btn btn-primary position-relative"
                            type="button" style="width: 200px; left:55%;" value="Post Response" data-bs-dismiss="modal">
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            {{/if}}
        {{/if}}
    </div>
</div>
