<!--
    S18 Group 9 
    Members: 
        - DOLON, John Michael
        - FETALVERO, Kenshin
        - GABINI, Brian 
        - TUMALAD, Shawne
 -->

<!doctype html>
<html lang="en">

<head>
	<title>Update User Profile</title>
	{{> prerequisites}}
</head>

<body>
	<!-- script for js functionality -->
    <script type="text/javascript" src="../js/update.js"></script>

	<!-- navigation bar -->
	{{> navbar}}

	<!-- absolute positioned background header with opacity-->
	<img class="user-header position-absolute" src="../images/default-user-images/default-banner.jpg" alt="User Header" style="opacity:0.4;">
	<form class="form-floating">
		<div class="container-fluid m-0">
			<div class="row">
				<div class="col col-md-3" style="padding-top:110px;">
					<!-- Upload banner photo-->
					<input type="file" class="form-control form-control-sm" id="updateform-banner" accept="image/*">
					<!--use enctype="multipart/form-data" in form tag-->
				</div>
			</div>
		</div>
		<!-- inserted a very large padding -->
		<div class="container-fluid" style="padding-top:50px;">

			<div class="row">
				<div class="col col-md-3">
					<!-- Picture here -->
					<img class="img-thumbnail position-relative update-user-pfp mb-5" src="../images/default-user-images/default-avatar.png"
						alt="User PFP">
					<p>Change Profile Picture:</p>
					<input type="file" class="form-control form-control-sm" id="updateform-pfp" accept="image/*">
				</div>

				<!-- Update profile text inputs-->
				<div class="col col-md-6 mb-5">
					<span class="label">Update Profile Info</span>
					<div class="col col-md-10 border-top border-black">
						<br>
						<div class="form-floating mb-2">
							<input type="text" class="form-control" id="update-firstname" value="{{first_name}}" required>
							<label for="floatingInput">First Name</label>
						</div>
						<div class="form-floating mb-2">
							<input type="text" class="form-control" id="update-lastname" value="{{last_name}}" required>
							<label for="floatingInput">Last Name</label>
						</div>
						<div class="form-floating mb-2">
							<input type="text" class="form-control" id="update-username" value="{{user}}" required>
							<label for="floatingInput">Username</label>
						</div>

						<!--Password should be optional if user didn't write on the textfields-->
						<div>
							<p>Change Password:</p>
							<div class="form-floating mb-2 ms-5">
								<input type="password" class="form-control" id="update-oldpassword">
								<label for="floatingInput">Old Password</label>
							</div>
							<div class="form-floating mb-2 ms-5">
								<input type="password" class="form-control" id="update-newpassword">
								<label for="floatingInput">New Password</label>
							</div>
							<div class="form-floating mb-2 ms-5">
								<input type="password" class="form-control" id="verify-newpassword">
								<label for="floatingInput">Retype New Password</label>
							</div>
							<div class="form-floating mb-2">
								<textarea id="update-description" class="form-control" style="height:150px;">{{description}}</textarea>
								<label for="floatingInput">Tell us about yourself! (optional)</label>
							</div>
						</div>

						<!-- cancel and submit button -->
						<div class="form-floating mb-2 d-flex justify-content-end">
							<button class="btn btn-outline-secondary me-2" type="button"
								onclick="window.location.href = '/user-profile-overview/{{user}}'">Cancel</button>



							<!--<a href="/user-profile-overview">-->
								<input type="button" class="btn btn-danger" id="submit-update" name="submit" value="Submit">
							<!--</a>-->
						</div>

					</div>
				</div>
			</div>
		</div>
	</form>
</body>

</html>